@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="D:\DotNet\ASP.Net\Tedu\ProjectMVC_Core\Project\eShopSolution.WebApp\Views\Home\Index.cshtml">D:\DotNet\ASP.Net\Tedu\ProjectMVC_Core\Project\eShopSolution.WebApp\Views\Home\Index.cshtml</a>